@model Artista
@{
    List<Genero> generos = ViewData["GENEROS"] as List<Genero>;
    List<Genero> generosArtista = ViewData["GENEROSARTISTA"] as List<Genero>;
}

<h1>Editar artista:</h1>

<form method="post" enctype="multipart/form-data">
    <input type="hidden" value="@Model.IdArtista" />
    <input type="text" name="nombre" value="@Model.Nombre" class="form-control" />
    <br />
    <label>Imagen del artista:</label>
    <input type="file" name="foto" class="form-control" />
    <br />
    <input type="text" name="spotify" value="@Model.Spotify" class="form-control" />
    <br />
    <textarea rows="3" name="descripcion" class="form-control">@Model.Descripcion </textarea>
    <br />
    <button class="btn btn-success">Guardar!</button>
</form>

<br />
<h3>Generos del artista:</h3>

@if(generosArtista != null)
{
    <ul class="list-group">
        @foreach (Genero g in generosArtista)
        {
            <li>
                @g.Nombre
            </li>
        }
    </ul>
}
else
{
    <p>Este artista no tiene géneros asignados</p>
}


<form method="post">
    <label>Añadir un género:</label>
    <select name="idgenero" class="form-control">
        @foreach (Genero g in generos)
        {
            <option value="@g.IdGenero">
                @g.Nombre
            </option>
        }
    </select>
    <input type="hidden" name="idartista" value="@Model.IdArtista"/>
    <br />
    <button class="btn btn-success">Añadir género</button>
</form>
