@model ModelEditSala


<div class="row justify-content-center">
    <div class="card text-white bg-dark mb-3" style="width: 50%;">
        <div class="card-body text-center">

            <h2>Editar sala</h2>

            <form method="post">
                <input type="hidden" value="@Model.sala.IdSala" />
                <input type="text" name="nombre" value="@Model.sala.Nombre" class="form-control" />
                <br />
                <input type="text" name="direccion" value="@Model.sala.Direccion" class="form-control" />
                <br />
                <select name="prov" class="form-control">
                    @foreach (Provincia p in Model.provinciaList)
                    {
                        @if (p.IdProvincia == Model.sala.IdProvincia)
                        {
                            <option value="@p.IdProvincia" selected>
                                @p.Nombre
                            </option>
                        }
                        else
                        {
                            <option value="@p.IdProvincia">
                                @p.Nombre
                            </option>
                        }
                    }
                </select>
                <br />
                <button class="btn btn-success">Guardar!</button>
            </form>
        </div>
    </div>
</div>

<div style="text-align: center;">
    <a asp-controller="Admin" asp-action="VerSalas"
       class="btn btn-dark">
        Volver
    </a>
</div>



