@model List<Evento>

    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
        List<Evento> favoritos = memoryCache.Get<List<Evento>>("FAV");

    }
@section Styles {
    <link rel="stylesheet" href="~/css/cards.css" asp-append-version="true" />
}

<div style="display: flex; justify-content: space-between;">
    <div style="text-align: left;">
        <h1>Lista de eventos</h1>
    </div>
    <div style="text-align: right;">
        <p>
            ¿No tenemos el Concierto que buscas?<br />
            Rellena este
            <a asp-controller="Acciones" asp-action="SolicitarConcierto" class="btn btn-outline-dark">
                formulario
            </a>
        </p>
    </div>
</div>


@if(favoritos != null)
{
    <h1>Favoritos:</h1>
    <div id="carouselfavoritos" class="carousel">
    <div class="carousel-inner">
        @foreach (Evento e in favoritos)
        {
            <div class="carousel-item">
                <div class="card">
                    <div class="img-wrapper">
                        <img src="~/images/eventos/@e.Imagen" class="d-block w-100" alt="@e.Nombre">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">@e.Nombre</h3>
                        <p class="card-text">
                            @e.Fecha
                        </p>
                        <a asp-controller="Home" asp-action="DetallesConcierto"
                           asp-route-idevento="@e.IdConcierto"
                           class="btn btn-primary">Ver detalles!</a>

                            <a asp-controller="Home" asp-action="EliminarFavoritos"
                               asp-route-idconcierto="@e.IdConcierto"
                               class="btn btn-outline-danger">💔</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
}


<div id="carouselExampleControls" class="carousel">
    <div class="carousel-inner">
        @foreach (Evento e in Model)
        {
            <div class="carousel-item">
                <div class="card">
                    <div class="img-wrapper">
                        <img src="~/images/eventos/@e.Imagen" class="d-block w-100 " alt="@e.Nombre">
                    </div>
                    <div class="card-body">
                        <h5>@e.Nombre</h5>
                        <p class="card-text">
                            @e.Fecha
                        </p>
                        <a asp-controller="Home" asp-action="DetallesConcierto"
                           asp-route-idevento="@e.IdConcierto"
                           class="btn btn-primary">Ver detalles!</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

