@model ProyectoWebCSNetCore.Models.Evento

@{
    List<Artista> artistasConcierto = ViewData["ARTISTASCONCIERTO"] as List<Artista>;
    bool esfav = false;
    if (ViewData["ESFAV"] != null)
    {
        esfav = true;
    }
}
<div class="header container d-flex align-items-center justify-content-center ">
<div style="display: flex;">

    <div style="padding: 10px; margin: 10px;">
        <img src="~/images/eventos/@Model.Imagen" style="width:350px; height: 350px; border-radius: 20px;" />
        <br /><br />
        <a href="@Model.Entradas" class="btn btn-dark">Entradas</a>
        <a href="@Model.Grupo" class="btn btn-success">Grupo de Whatsapp</a>
        @if (Context.Session.GetString("USUARIO") != null)
        {
            @if (!esfav)
            {
                <a asp-controller="Home"
                   asp-action="DetallesConcierto"
                   asp-route-idfav="@Model.IdConcierto"
                   class="btn btn-danger">❤️</a>
            }
            else
            {
                <a asp-controller="Home" asp-action="EliminarFavoritos"
                   asp-route-idconcierto="@Model.IdConcierto"
                   class="btn btn-outline-danger">💔</a>
            }
        }
        <br /><br />
            <a asp-controller="Home" asp-action="Conciertos"
               class="btn btn-dark">
                Volver
            </a>
    </div>

    <div style="width: 50%; padding: 10px; margin: 10px;">
        <div class="card text-white bg-dark mb-3" style="width: 85%;">
            <div class="card-body text-center">
                <h1>@Model.Nombre</h1>

                <h2> @Model.Fecha.Date</h2>

                <h3> @Model.NombreSala / @Model.Direccion  @Model.Provincia</h3>

               
            </div>
        </div>

        @if (artistasConcierto != null)
        {
            <h3>Artistas:</h3>
            <ul class="list-group-horizontal">
                @foreach (Artista a in artistasConcierto)
                {
                    <li class="list-group-item border-0">
                        <a asp-action="DetallesArtista" asp-controller="Home"
                               asp-route-idartista="@a.IdArtista"
                               style="color: black;text-decoration: none;">
                        <img src="~/images/artistas/@a.Imagen" width="60px" height="60px" style="border-radius:20px" />
                        @a.Nombre
                        </a>
                    </li>
                }
            </ul>

        }
        else
        {
            <p>No hay artistas asignados a este evento.</p>
        }
        
    </div>

</div>

</div>